{% extends 'base.html' %}
{% block meta %}
<title>Brandpulsar | Delete Domain</title>
{% endblock meta %}

{% block content %}
{% load static %}
<style>
    .header-nav,
    .footer {
        display: none;
    }
</style>
<section class="auth-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="auth-container"
                    style="display: flex;align-items: center;flex-direction: column;justify-content: center;">
                    <h1 class="text-center pb-3">Delete Domain</h1>
                    <h4 class="mb-5">{{ domain }}</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {{form.as_p}}
                        <div class="form-group">
                            <button class="btn-green btn-md" type="submit">Delete</button>
                            <a class="btn-white btn-md" href="{% url 'users:dashboard' %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}