{% load static %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-top">
          <img src="{% static 'images/brandpulsar-3.svg' %}" alt="Brandpulsar" />
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/BrandPulsar/">
                <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1"
                  id="Capa_1" x="0px" y="0px" viewBox="0 0 159.822 159.822"
                  style="enable-background:new 0 0 159.822 159.822;" xml:space="preserve" width="512px" height="512px">
                  <g>
                    <g>
                      <path
                        d="M76.715,36.172c4.142,0,7.5-3.358,7.5-7.5C84.215,21.133,90.349,15,97.887,15h21.179c4.142,0,7.5-3.358,7.5-7.5   s-3.358-7.5-7.5-7.5H97.887c-15.81,0-28.672,12.862-28.672,28.672C69.215,32.813,72.573,36.172,76.715,36.172z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                      <path
                        d="M117.458,59.627H40.756c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h28.46v77.695c0,4.142,3.358,7.5,7.5,7.5   c4.142,0,7.5-3.358,7.5-7.5V74.627h33.243c4.142,0,7.5-3.358,7.5-7.5S121.6,59.627,117.458,59.627z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                    </g>
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/BrandPulsar/">
                <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1"
                  id="Capa_1" x="0px" y="0px" viewBox="0 0 198.737 198.737"
                  style="enable-background:new 0 0 198.737 198.737;" xml:space="preserve" width="512px" height="512px"
                  class="">
                  <g>
                    <g>
                      <path
                        d="M197.399,42.479c-2.36-3.401-7.034-4.247-10.438-1.886l-23.288,16.159c-2.115,1.467-3.329,3.916-3.218,6.487   c0.067,1.542,0.1,2.988,0.1,4.42c0,47.603-36.222,96.84-96.839,96.84c-12.357,0-24.497-2.352-35.843-6.889l35.939-10.052   c3.989-1.116,6.318-5.254,5.202-9.243c-1.116-3.988-5.25-6.318-9.243-5.202L5.48,148.299c-2.846,0.796-4.959,3.189-5.397,6.112   c-0.437,2.922,0.882,5.83,3.37,7.425C21.477,173.391,42.316,179.5,63.716,179.5c42.057,0,68.398-19.87,83.091-36.538   c18.27-20.728,28.748-48.174,28.748-75.302c0-0.297-0.001-0.594-0.003-0.892l19.961-13.85   C198.915,50.556,199.76,45.883,197.399,42.479z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                      <path
                        d="M16.555,40.14l75.585,38.315c1.072,0.544,2.234,0.811,3.39,0.811c1.646,0,3.282-0.541,4.629-1.598   c2.293-1.798,3.337-4.761,2.677-7.6c-0.501-2.154-0.754-4.396-0.754-6.662c0-16.083,13.087-29.168,29.173-29.168   c8.041,0,15.804,3.357,21.296,9.211c2.052,2.188,5.211,2.941,8.031,1.917l23.328-8.476c3.893-1.415,5.903-5.717,4.488-9.61   c-1.414-3.894-5.72-5.901-9.61-4.488l-18.983,6.897c-7.929-6.692-18.083-10.452-28.55-10.452c-22.93,0-41.835,17.561-43.972,39.938   L23.337,26.761c-3.695-1.874-8.208-0.396-10.081,3.298C11.383,33.754,12.86,38.267,16.555,40.14z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                      <path
                        d="M12.689,85.053l16.608,4.585c0.668,0.185,1.339,0.272,2,0.272c3.289,0,6.307-2.181,7.225-5.506   c1.103-3.992-1.241-8.123-5.233-9.226l-16.608-4.585c-3.99-1.102-8.123,1.24-9.226,5.233C6.353,79.82,8.696,83.95,12.689,85.053z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                      <path
                        d="M27.25,107.376c-4.139,0.157-7.367,3.639-7.21,7.778c0.153,4.043,3.478,7.216,7.49,7.216c0.096,0,0.192-0.002,0.288-0.005   l16.562-0.628c4.139-0.157,7.367-3.639,7.211-7.779c-0.157-4.139-3.648-7.363-7.778-7.21L27.25,107.376z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                    </g>
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/BrandPulsar/">
                <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1"
                  id="Layer_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 169.063 169.063"
                  style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve" class="">
                  <g>
                    <g>
                      <path
                        d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                      <path
                        d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                      <path
                        d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z"
                        data-original="#000000" class="active-path" data-old_color="#000000" fill="#605f71" />
                    </g>
                  </g>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-xs-12">
        <div class="footer-nav">
          <div class="footer-nav-item">
            <h4>Company</h4>
            <ul class="menu-list">
              <li><a href="{% url 'main:domains' %}">Domains</a></li>
              <li><a href="{% url 'main:industries' %}">Industries</a></li>
              <li><a href="{% url 'users:login-view' %}">Log in</a></li>
              <li><a href="{% url 'users:register-view' %}">Sign up</a></li>
              <li><a href="{% url 'main:customers' %}">Customers</a></li>
              <li><a href="{% url 'main:contact' %}">Contact us</a></li>
            </ul>
          </div>
          <div class="footer-nav-item">
            <h4>Knowledge Base</h4>
            <ul class="menu-list">
              <li><a href="{% url 'main:blog' %}">Blog</a></li>
              <li><a href="{% url 'main:how-it-works' %}">How it works</a></li>
              <li><a href="{% url 'main:faq' %}">FAQ</a></li>
              {% if request.user.is_authenticated %}
              {% else %}
              <li><a href="{% url 'marketplace:become-a-seller' %}">Become a seller</a></li>
              {% endif %}
              <li><a href="{% url 'main:how-to-name-your-brand' %}">How to name your brand</a></li>
              <li><a href="{% url 'main:what-makes-a-name-brandable' %}">What makes a name brandable</a></li>
            </ul>
          </div>
          <div class="footer-nav-item">
            <h4>Name ideas</h4>
            <ul class="menu-list">
              <li>
                <a href="{% url 'main:website-names' %}">Website names</a>
              </li>
              <li>
                <a href="{% url 'main:startup-names' %}">Startup names</a>
              </li>
              <li>
                <a href="{% url 'main:domain-names' %}">Domain names</a>
              </li>
              <li>
                <a href="{% url 'main:company-names' %}">Company names</a>
              </li>
            </ul>
          </div>
          <div class="footer-nav-item footer-nav-item-content">
            <p class="mb-4">
              Brandpulsar is the go-to option for many existing businesses or start-ups looking for premium but
              affordable domain
              names. Our domains come with premade logos and design mockups so brands can be immediately launched.
            </p>
            <ul class="contact-details">
              <li><a href="mailto:sales@brandpulsar.com">sales@brandpulsar.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="line mb-5" style="background-color: #605f712e;"></div>
        <h4>Industries</h4>
        <ul class="menu-list industry-list" style="display: flex;flex-direction: column;flex-wrap: wrap;height: 500px;">
          {% for industry in footer_industries %}
          <li><a href="{% url 'main:industry-detail' industry.slug %}">{{ industry.name }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="line mb-5" style="background-color: #605f712e;"></div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-sm-12">
        <div class="legal">
          <p>Copyright © Brandpulsar - All rights reserved</p>
          <img src="{% static 'images/payment-methods.svg' %}" />
          <ul>
            <li><a href="{% url 'main:privacy-policy' %}">Privacy policy</a></li>
            <li><a href="{% url 'main:terms-of-use' %}">Terms of use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>