{% extends 'base.html' %} {% block meta %}
<title>Brandpulsar | Privacy policy</title>

{% endblock meta %} {% block content %} {% load static %}
<style>
    .content ul {
        list-style-type: disc;
        padding-left: 50px;
    }

    .content ul li {
        color: #0c1142;
        line-height: 30px;
        font-size: 15px;
    }

    .content ol li {
        color: #010529;
        font-weight: 500;
    }

    .content p {
        margin-bottom: 20px;
    }
</style>
<section class="section bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Privacy Policy</h1>
                <h6>Last updated: September 01, 2020</h6>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 content">
                <p>
                    This privacy policy expresses the policies and procedures on the collection and usage of the
                    personal data you provide
                    to us when you use our services. We collect and use your personal information described as in this
                    document in order to
                    provide you with the better services and use the data for business purposes. In this Privacy Policy,
                    company means
                    Cosmic Domain LLC (5756 Riverton ave. North Hollywood CA 91601) also referred to as "We", "Us",
                    "Our" or “Website” and
                    account means account used by users when they use website services. By you, it means the individual
                    or individuals who
                    are using the service or website. By using our services you agree to the terms written in this
                    Privacy Policy.
                </p>
                <h3>Collecting and Using Your Personal Data</h3>
                <h3>Data collection</h3>
                <p>While using our service, you may provide us with the information by filling out the forms, or
                    contacting us by email or
                    phone. This includes information you provide when you register on our website, when you list your
                    domains for selling on
                    our website, subscription to our newsletter, emailing service or when being in contact with our
                    services in any case
                    including simply using our website without creating the account. The personal information you may
                    provide us may
                    include, but not limited to Email, First and Last name, phone number, data you provide when you make
                    a purchase or offer
                    for a domain and the data we collect automatically when you use the website.
                </p>
                <p>
                    The data that we collect during when you make an offer may include your address and contact
                    information which is
                    essential for providing this service.
                </p>
                <p>The data we collect automatically may include the Internet Protocol address (IP address) of your
                    device, browser type,
                    browser version, the pages you visit when you use our website, the time, date and duration of your
                    visit, your
                    interaction with the pages, any messages or errors you may face during your visit, your device
                    identifiers and the data
                    from other accounts (such as when you sign in with social media accounts) for which you have given
                    us permission to
                    collect the data.
                </p>
                <p>We use Google Analytics to measure the behaviour of our users. The information collected by Google
                    Analytics is
                    anonymous, which means, it records statistical data, not who you are.
                </p>
                <p>
                    We use Stripe for our payment processing. Stripe has its own cookies to detect any suspicious
                    behaviour by users. This
                    information and also the data you enter to Stripe when making a purchase is not visible to us.
                </p>
                <h3>Cookies</h3>
                <p>
                    We use cookies to track the activity on our website. Cookies help us to provide users better user
                    experience and improve
                    our service.
                </p>
                <p>
                    Users can always set their browsers to refuse cookies, however this may result for users not being
                    able to use all parts
                    of our website.
                </p>
                <p>
                    Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies are stored in the user's
                    personal device and remain
                    when the user goes offline. Session Cookies are session based, which means these cookies help the
                    website remember user
                    actions only for a session and the information is deleted when the user closes the browser.
                </p>
                <p>Cookies we use in our website:
                </p>
                <p>We use both persistent and session cookies for different purposes on our website. We use session
                    cookies to increase the
                    user experience which include providing some features to users. Without cookies, these services
                    cannot be provided.
                    Persistent cookies used for remembering user choices which are essential for being able to use
                    website features. This
                    includes remembering login details and cookie preferences.
                </p>
                <h3>Use of Your Personal Data</h3>
                <p>We may use your information for the following purposes:
                </p>
                <ul>
                    <li>To provide you with the service and the information</li>
                    <li>To improve the performance of our services and making sure it is the most compatible version
                        with your device</li>
                    <li>To manage and improve the website services, including website testing, analysis, research and
                        development
                    </li>
                    <li>To contact you by the information you have provided to us, by email, phone number or other forms
                        of communication.
                    </li>
                    <li>To provide you with the news, special offers, information about the products, services as well
                        as any recommendations
                        and suggestions to you on our products and events and any changes made on our policies or
                        website.
                    </li>
                    <li>
                        To measure and set up the advertising strategies we do on our website and to check the relevance
                        of advertising to you

                    </li>
                </ul>
                <h3>Disclosure of Your Personal Data</h3>
                <p>We may share your personal information in the following situations:
                </p>
                <ul>
                    <li>With Affiliates, which means our parent company and other subsidiaries, our partners or other
                        companies we control or
                        are under common control with us.
                    </li>
                    <li>
                        With our business partners, contractors or service providers which provide service to us in
                        order to maintain the
                        performance of our website.

                    </li>
                    <li>
                        With advertising networks with which we are subcontractors and require the data from you to show
                        relevant adverts to you
                        or other users.
                    </li>
                    <li>
                        If the company or the parent company or any subsidiaries becomes an asset of sale, your data
                        that is held in certain
                        assets may be transferred.

                    </li>
                    <li>
                        We may disclose the data in certain cases it is required to do so by law by requests from public
                        authorities.

                    </li>
                </ul>
                <h3>Your rights</h3>
                <p>You have the right under Data Protection Law, free of charge, to request:
                </p>
                <ul>
                    <li>
                        Access to your personal data.
                    </li>
                    <li>
                        Removal of your personal data.
                    </li>
                    <li>
                        A restriction on the processing of your personal data.
                    </li>
                    <li>
                        Withdraw your choices on processing your personal data
                    </li>
                </ul>
                <p>
                    You can make a request relevant to any of mentioned rights by contacting us from contact information
                    shown below in the
                    end of this document. Your requests will be processed within a 30 days period.
                </p>
                <h3>Links to Other Websites</h3>
                <p>There may be links to other websites or service providers on our website which are not controlled by
                    us. If you click on
                    those links and get redirected to the other websites, we advise you to review the privacy policy of
                    the visited
                    websites. We have no control over the regulations or policies of these websites.
                </p>
                <h3>Changes to this Privacy Policy</h3>
                <p>
                    We may make changes on our Privacy Policy time to time. In case of changes, the latest version of
                    the Privacy Policy can
                    be found from here. Users will be notified via email or by a notice on our website in case of any
                    updates.
                </p>
                <p>
                    You can see the date of last update for this policy on top of the document. We advise checking and
                    reviewing this
                    Privacy Policy time to time for any changes.
                </p>
                <h3>Contact Us</h3>
                <p>If you have any questions about this Privacy Policy, you can contact us:</p>
                <ul>
                    <li>By visiting this page on our website: <a
                            href="https://brandpulsar.com/contact/">https://brandpulsar.com/contact/</a></li>
                    <li>Address: 5756 Riverton ave. North Hollywood CA 91601</li>
                    <li>Email: <a href="mailto:info@brandpulsar.com">info@brandpulsar.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}