{% extends 'base.html' %} {% block meta %}
<title>Brandpulsar | Terms of use</title>


{% endblock meta %} {% block content %} {% load static %}
<style>
    .content ul {
        list-style-type: disc;
        padding-left: 50px;
    }

    .content ul li {
        color: #0c1142;
        line-height: 30px;
        font-size: 15px;
    }

    .content ol li {
        color: #010529;
        font-weight: 500;
    }

    .content p {
        margin-bottom: 20px;
    }
</style>
<section class="section bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Terms of use</h1>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 content">
                <h3>The agreement</h3>
                <p>
                    Welcome to Cosmic Domain Website. This document contains the entire terms and conditions that apply
                    when you use our
                    website. By using our website, you accept the terms and conditions listed below in this agreement.
                    This document is an
                    agreement between you and us, you understand that you have not relied on any statement or warranty
                    that is not expressed
                    or implied in this agreement.
                </p>
                <h3>Use of Website</h3>
                <p>By using the website you agree that:</p>
                <ul>
                    <li>Any information or content on the website is under the full responsibility of the person or
                        account who provides them.</li>
                    <li>You will not collect, use or disclose the information about other users.</li>
                    <li>The illustrations, graphics or any other illustrative contents on the website are used for the
                        purpose of instruction
                        for the users and does not take part in any part of this agreement.
                    </li>
                    <li>
                        We reserve the full right to change, edit or remove any part of the service and contents of the
                        website if required by
                        the regulatory requirement.
                    </li>
                </ul>
                <h3>Registration and Account Use</h3>
                <p>For using some parts of the service provided in the website, you are required to register an account.
                </p>
                <p>When creating an account, you agree to provide true information when required. You are responsible
                    for all usage of your
                    account and maintaining confidentiality of your password. In case of any known unauthorized use, you
                    agree to notify us.
                </p>
                <p>You agree to keep your contact information up to date so that our team can contact you for any event
                    or promotion
                    purposes. All the details and information about your account can be updated from the Account section
                    of the website.
                </p>
                <h3>Purchasing services on website</h3>
                <ul>
                    <li>You may make a purchase of the services we offer from the specific service page. You can only
                        make an order using one of
                        the payment methods offered as a part of our service.
                    </li>
                    <li>Note that, after you make a purchase you will get an confirmation email from us about your
                        order. Your order purchase
                        can be rejected any time without providing you with any reason.
                    </li>
                    <li>All the information about the order (the purchased item, price, payment details) are provided on
                        the relevant page.
                        Please check any errors and details before making an order. You reserve full responsibility for
                        any misunderstanding
                        that happens during the purchase.
                    </li>
                    <li>After you get an confirmation email, we will supply the purchased service within 2 weeks. You
                        will receive an email with
                        agreement and instructions about the order. If we are unable to provide you with the ordered
                        service, we will notify you
                        and refund the full paid amount.
                    </li>
                </ul>
                <h3>Providing content to the website</h3>
                <p>By providing content to the website you agree that:</p>
                <ul>
                    <li>
                        You will not provide content or conduct yourself which can be considered as illegal, abusive,
                        harmful or will not
                        present any action that may be against the working process of the website or service provided
                        which includes spreading
                        the infection of viruses or any other programmable disruptive tools or actions which are
                        conducted as the violation of
                        any local, national or international law.
                    </li>
                    <li>
                        The content you provide can not be considered as a violation of any local, national or
                        international law and will not
                        make us to be held or be considered criminally liable.
                    </li>
                    <li>
                        You give us the right to use, display or promote the content you provide in any form.
                    </li>
                    <li>
                        The sellers can sell the domains on our website marketplace only under the rules and regulations
                        set by Cosmic domain.
                        We reserve the right to reject your domain or service on our website without providing you with
                        any reason.
                    </li>
                    <li>
                        After the buyer makes a purchase of a domain name, we reserve the right to reject the buyer's
                        order without providing
                        any reason. If the buyer’s purchase is accepted by us, you will get an email about the agreement
                        and possible
                        instructions about the sale of your domain.
                    </li>
                    <li>
                        After the buyer’s purchase is accepted by us, if the seller refuses to sell the domain to the
                        buyer, the account of the
                        seller will be removed from the website and the services offered to them will be terminated.
                    </li>
                    <li>
                        By adding your domains for sale on our website, you agree that we are the exclusive seller of
                        those domains. It is
                        prohibited to make a sale outside of the website while the domain is being listed on our
                        website. You can request to
                        remove your domain from being listed on our website and your domains will be removed after 2
                        weeks from the date of
                        request. During those 2 weeks all the terms and conditions are applied continually.
                    </li>
                    <li>
                        If the domain is being sold outside of the Cosmic Domain while being listed on our website, the
                        seller should pay the
                        commission fee (10% of the listing price) which would be received from the sale of the domain.
                    </li>
                </ul>
                <h3>Payments for buyers</h3>
                <ul>
                    <li>
                        You must pay the fees for all purchased services on the website. All fees are in advance unless
                        the buyers have chosen
                        to pay in installments.
                    </li>
                    <li>
                        When the buyer wants to pay in installments, they should pay the first month fee to start the
                        purchase process. After
                        that, each month the specified amount will be paid from the card used for the first payment. The
                        amounts for each month
                        are displayed on the purchase page and the buyers are free to choose any kind of installment
                        period among provided
                        options.
                    </li>
                    <li>
                        When you make a payment in installments, after paying the first month fee, you will be able to
                        request for a change in
                        the DNS of the domain which will allow you to use the domain.
                    </li>
                    <li>
                        If you fail to pay the monthly installment at any step, you will get 2 warnings during the next
                        30 days for making a
                        payment. If you fail to make a payment during the given 30 day period, your order will be
                        cancelled. Note that the
                        amount which is already paid is non refundable if your order is cancelled.
                    </li>
                    <li>
                        The fees on the website can change from time to time, but in the case of the change the users
                        will be notified and the
                        changes are not applied to the payments that have already been made.
                    </li>
                    <li>
                        You can pay for the services using a debit or credit card and you will receive the electronic
                        invoices for your payments
                        in your email accounts after each payment.
                    </li>
                </ul>
                <h3>Payments for Sellers</h3>
                <ul>
                    <li>
                        Getting your domain listed on Cosmic Domain is free of charge, but if you want to make your
                        domain featured, you should
                        make a monthly payment in the indicated amount on the domain adding page. The monthly payment
                        for making domains
                        featured will be paid from the card used in the first month payment on a monthly basis.
                    </li>
                    <li>
                        You can pay for the services using a debit or credit card and you will receive the electronic
                        invoices for your payments
                        in your email accounts after each payment.
                    </li>
                    <li>
                        When your domain is sold, you will get an email with instructions on further steps. You will get
                        the payments only after
                        you have fully completed the domain transferring process.
                    </li>
                    <li>
                        If the buyer purchases your domain in installments, you must transfer the domain in order to get
                        the payment for the
                        first month. And after that, you will receive the payment on a monthly basis.
                    </li>
                    <li>
                        If the buyer fails to pay the monthly payments, you will get domain ownership back and the
                        already paid amount will
                        remain as it is and is not refundable to the buyer.
                    </li>
                </ul>
                <h3>DISCLAIMERS AND LIMITATION OF LIABILITY</h3>
                <p>YOU UNDERSTAND THAT THE USE OF WEBSITE IS AT YOUR OWN RISK, THE WEBSITE IS PROVIDED ON AN “AS IS”
                    BASIS. WE EXPRESSLY
                    DISCLAIM ALL WARRANTIES OF ANY KIND, INCLUDING BUT NOT LIMITED TO MERCHANTABILITY, FITNESS FOR A
                    PARTICULAR PURPOSE, AND
                    ANT WARRANTIES THAT CONTENTS ON THE WEBSITE ARE NON-INFRINGING, AS WELL AS WARRANTIES IMPLIED FROM
                    THE COURSE OF
                    PERFORMANCE INCLUDING THAT THE ACCESS TO THE WEBSITE WILL BE UNINTERRUPTED, ERROR-FREE, VIRUS-FREE,
                    SECURE, SAFE,
                    ACCURATE, RELIABLE. IT IS NOT WARRANTED THAT ANY CONTENT ON WEBSITE IS SAFE TO DOWNLOAD, IF YOU
                    DOWNLOAD ANYTHING FROM
                    THIS WEBSITE, YOU DO IT AT YOUR OWN RISK AND YOU WILL BE RESPONSIBLE FOR THE DAMAGE THAT CAN HAPPEN
                    FROM THIS ACTION.
                </p>
                <p>
                    YOU AGREE THAT WE WILL NOT BE LIABLE FOR ANY KIND OF DAMAGES WHICH INCLUDES BUT NOT LIMITED TO
                    DAMAGES RELATED TO LOSS
                    OF SALES, PROFITS, CONTRACTS, DATA OR ANY DIRECT OR INDIRECT LOSS RESULTING FROM THE USE OF WEBSITE
                    OR SERVICES,
                    UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR DATA OR ANY OTHER MATTER RELATED TO SERVICES.
                </p>
                <h3>Reservation of Rights</h3>
                <p>We reserve all the rights including but not limited to any kind of copyrights, patents, property
                    rights related to the
                    website, its content and the services provided by the website. By providing our service, we do not
                    give you any right to
                    use the property, content or any other information on the website for commercial purposes. The use
                    of our rights are
                    prohibited and requires written consent by us.
                </p>
                <h3>Copyright Infringement</h3>
                <p>If you think that any content used on this website infringes your copyright or violates your
                    intellectual property
                    rights, you can notify us by contacting <a
                        href="mailto:info@brandpulsar.com">info@brandpulsar.com</a>
                </p>
                <h3>Applicable law</h3>
                <p>You agree that this document and any other dispute implied by use of the website or the service will
                    be governed by the
                    local laws applicable in the location where the Cosmic Domain registered. By using this website you
                    agree that the
                    jurisdiction is granted to the courts having jurisdiction over the Cosmic Domain location.
                </p>
                <p>In case of a dispute in any of the terms of use mentioned in this agreement with the legislation by a
                    court with
                    jurisdiction, the reason for conflict will be interpreted to reflect original intentions of both
                    sides. You agree that
                    if any claim in respect of the website and services is being filed later than 1 year after the cause
                    of claim, the
                    specified claim will be discarded.
                </p>
                <h3>Testimonials</h3>
                <p>We reserve the right to publicly share the list of any service sales that are completed on our
                    website. We can share it
                    in our website, as promotion, in our newsletters or for any other reasons that are used for
                    marketing purposes. We do
                    not disclose the new owners or the agreed prices, but we can use such information in our general
                    statistics.
                </p>
                <h3>Privacy Policy</h3>
                <p><a href="{% url 'main:privacy-policy' %}">The Privacy Policy can be accessed from here.</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}