{% extends 'base.html' %}
{% block meta %}
<title>{{ title }}</title>
<meta name="description" content="{{ meta_description }}" />
<meta property="og:title" content="{{ og_title }}" />
<meta property="og:type" content="{{ og_type }}" />
<meta property="og:url" content="{{ og_url }}" />
<meta property="og:image" content="{{ og_image }}" />
<meta property="og:description" content="{{ og_description }}" />
<meta property="og:site_name" content="{{ og_site }}" />
<meta name="robots" content="index, follow">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:image" content="{{ og_image }}">
<meta name="twitter:site" content="@Brand_Pulsar" />
<meta name="twitter:creator" content="@Brand_Pulsar" />
{% endblock meta %}
{% block content %}
{% load static %}
<section class="thank-you standard-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="{% static 'images/astronaut.svg' %}" />
                <h1 class="title white">Thank You For Contacting!</h1>
                <p class="white mb-4">Our team will get in touch with you as soon as possible.</p>
                <a class="btn-green btn-md" href="{% url 'main:domains' %}">Check out other
                    domains</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}