{% extends 'base.html' %}

{% block meta %}
<title>Brandpulsar | Reset your password</title>
{% endblock meta %}

{% block content %}
{% load static %}
<section class="success-bg standard-bg">
    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-12">

                <h1 class="text-white text-center">Your password has been updated</h1>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-12">
                <button class="btn-main"><a href="{% url 'main:domains' %}">Check out domains</a></button>
            </div>
        </div>
    </div>
</section>
{% endblock %}