{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Brandpulsar | Password update: {{request.user.email}}</title>
{% endblock meta %}

{% block content %}
<style>
    .header-nav,
    .footer {
        display: none;
    }
</style>
<section class="auth-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="auth-container">
                    <div class="auth-content form-box" style="overflow-y: scroll;width: 100%;">
                        <h1 class="text-center pb-3">Update your password</h1>


                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class="input-box col">
                                    <input type="password" name="old_password" id="id_old_password" maxlength="255"
                                        required>
                                    <label for="id_old_password">Current password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-box col">
                                    <input type="password" name="password" id="id_password" maxlength="255" required>
                                    <label for="id_password">New Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-box col">
                                    <input type="password" name="second_password" id="id_second_password" required>
                                    <label for="id_second_password">Verify Password</label>
                                </div>
                            </div>

                            <a href="{% url 'users:user-edit-view' %}" class="btn-white btn-md">Cancel</a>
                            <button class="btn-green btn-md" type="submit">Update</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}